*/**/__pycache__
build
dist
*.egg-info
.vscode
tmp
test_cu
*.tmp
a.out
test.json
*.bak
*.ptx
log
*.so

# BEGIN NOT-CLEAN-FILES (setup.py handles this marker. Do not change.)
#
# Below files are not deleted by "setup.py clean".

test.*
